<%- include('./partials/header')%>



      <div class="col-lg-9">

        <div class="row">      
          <% for(const fig of allFig) { %>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="/article/<%= fig.id %>">
                <img class="card-img-top" src="../images/<%= fig.name.toLowerCase() %>.png" alt="">
                <div class="badge-category badge badge-pill badge-<%=fig.category.toLowerCase()%>"><%= fig.category %></div>
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/article"><%= fig.name %></a>
                </h4>
                <h5>$<%= fig.price %></h5>
                <p class="card-text"><%= fig.description %></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                <a href="/bookmarks/add/<%= fig.id %>" class="link-add-bookmarks">+ Ajouter aux favoris</a>
              </div>
            </div>
          </div>
          <% } %>


  <%- include('./partials/footer')%>