<%- include('./partials/header')%>


      <!--<% const { name, category, size, description, price } = locals.oneFig %>-->
        
      <div class="col-lg-9">
         <% if(locals.oneFig) {%>
        <div class="row">
          <div class="col-lg-6">
            <img class=""  src="../images/<%= oneFig.name.toLowerCase() %>.png" alt="">
         
          </div>  
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                    <h3 class="card-title">
                      <%= oneFig.name %>
                      <div class="badge badge-pill badge-<%= oneFig.category.toLowerCase() %>"></div>
                    </h3>
                    <p class="card-text">Taille réelle : <%= oneFig.size %></p>
                    <p class="card-text"><%= description %></p>
                    <p class="card-text">3
                      Note moyenne : &#9733; &#9733; &#9733; &#9733; &#9734;
                      <br>
                      <a href="#" data-toggle="modal" data-target="#reviewsModal">Détails des avis</a>
                    </p>
                    <h5>$<%= oneFig.price %></h5>
                    <p class="card-text">
                      <a href="#" class="link-add-bookmarks">+ Ajouter aux favoris</a>
                    </p>
                </div>
              </div>
            
            </div>
  
          </div>
          
        </div>
        <% } %>
      </div>  
  <%- include('./partials/footer')%>
